* {
    // border: 1px solid black;
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans Extrabold", sans-serif;
    scroll-behavior:smooth;
  }

.myPort {
    background-color: #474f59;
    
}
.containerNavbar {
    font-size: 0.7em;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: center;
}

.containerAboutMe {
    display: flex;
    justify-content:center;
    font-size: 0.7em;
}

.containerProject {
    display: flex;
    justify-content:center;
    font-size: 1em;
    background-color: #E9EFF2;
}

.containerSkill {
    display: flex;
    justify-content:center;
    font-size: 1em;
}

.containerExperienceAndContact {
    font-size: 1em;
    background-color:#E9EFF2;
    padding:30px 20px;
    box-shadow:0px 0px 10px white;
    height: 620px;
}

@media (max-width:850px){
    .containerExperienceAndContact {
        height: 650px;
    }
  }
@media (max-width:600px){
    .containerExperienceAndContact {
        height: 700px;
    }
  }
@media (max-width:500px){
    .containerExperienceAndContact {
        height: 750px;
    }
  }

@media (max-width:400px){
    .containerExperienceAndContact {
        height: 800px;
    }
  }

  @media (max-width:400px){
    .containerExperienceAndContact {
        height: 880px;
    }
  }
